<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessboard/css/chessboard-1.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Chess Game</title>

</head>
<body>

<div class="container">
    <div id="board" style="width: 400px"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='chessboard/js/chessboard-1.0.0.min.js') }}"></script>

<script>
    window.initialFen = "{{ fen }}";
    var currentFen = '{{ fen }}';
</script>

<script src="{{ url_for('static', filename='chessboard/js/board.js') }}"></script>

</body>
</html>